.profile_img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* button {
  margin-top: 14px;
  padding: 7px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #626262;
  cursor: pointer;
  background-color: #cf9b48;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
} */

.weapon_img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.character_img {
  transform: scale(-1, 1);
  width: 160px;
  height: 380px;
}

.ready {
  text-align: center;
  font-size: 24px;
}

.start {
  text-align: center;
  font-size: 24px;
}

.result {
  text-align: center;
  font-size: 24px;
}

.monster_img {
  transform: scale(-1, 1);
  width: 350px;
  height: 350px;
  border: 6px solid transparent;
  transition: border-color 0.1s;
}

.monster_img:active {
  border-color: red;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userStatus {
  display: flex;
  align-items: baseline;
  padding-left: 10%;
}

.monsterStatus {
  position: absolute;
  right: 0;
  padding-right: 10%;
}

.battle-start-container {
  display: flex;
  justify-content: center;
}

.battle-start {
  background-color: antiquewhite;
  font-size: 30px;
  border-radius: 100vh;
  height: 45px;
  width: 100px;
}

.userInfo {
  padding-left: 13%;
}

.monsterInfo {
  position: absolute;
  padding-right: 20%;
  right: 0;
}